@import "tailwindcss";

@font-face {
    font-family: iransans;
    src: url('/font/Lora-Regular.ttf');
}
body{
    font-family: iransans;
}

.footitem{
    width: 150px;
    height: 150px;    
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 30px;
    &:hover{
        >img, &::before{
            animation-play-state: paused;
        }
        >a{
            left: -30%;
        }
       
    }
    
    >a{
        color: rgb(99, 17, 17);
        text-decoration: none;
        position: absolute;
        left: 50%;
        font-size: 10px;
        transition: 1.5s;
        &:nth-of-type(1){
            top: 20%;
        }
        &:nth-of-type(2){
            top: 40%;
            
        }
        &:nth-of-type(3){
            top: 60%;
        }
        &:nth-of-type(4){
            top: 80%;
        }


    }

    >img, &::before{
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
       
    }
    &::before{
        content: '';
        background-color: rgb(99, 17, 17);
        animation: back1  ease-out infinite alternate 5s;
    }
    >img{
        animation: back2  ease-out infinite alternate 5s;
    }
    
}
@keyframes back1{
    0%{border-radius: 56% 44% 47% 53% / 20% 24% 76% 80%   }
    50%{border-radius: 56% 44% 68% 32% / 58% 72% 28% 42%  }
    100%{border-radius:81% 19% 23% 77% / 33% 69% 31% 67%  ;}
}
@keyframes back2{
    0%{border-radius: 81% 19% 23% 77% / 33% 69% 31% 67%  ;}
    50%{border-radius: 56% 44% 47% 53% / 20% 24% 76% 80%  }
    100%{border-radius: 56% 44% 68% 32% / 58% 72% 28% 42%  }        
}
